<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	  	<link rel="stylesheet" type="text/css" href="/css/main.css">
	  
　　　　<title>Hello World</title>
　　</head>
　　<body><div class="out">
		<div class="page-header header">
			<h1>Cong看到的地方</h1>
		</div>
		<div class="navbar navbar-default"r>
			<div class="container">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class=""><a href="http://toyblocks.net">HOME</a></li>
						<li><a href="#">BLOG</a></li>
						<li><a href="#">NOTE</a></li>
						<li><a href="#">PIECE</a></li>
						<li><a href="#">LIFE</a></li>
						<li><a href="toyblocks.net/direction.html">DIRECTION</a></li>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="left">
				<div class="leftbox">
					<h2><a href="{{post.url}}">{{ page.title }}</a></h2> 
					{{content}}
				</div>
			</div>
			<div class="right"><ul>
			   {% for post in site.posts %}
			   <li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			   </ul></div>
			<div class="blank"></div>
		</div>	
			<div class="footer">{% include footer.html %}</div>
	　　　</div>　</body>
　　</html>
