<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
	  	<link rel="stylesheet" type="text/css" href="main.css">
	  
　　　　<title>Hello World</title>
　　</head>
　　<body><div class="out">
		<div class="page-header header">
			<h1>Cong's view of the world</h1>
		</div>
		<div class="navbar navbar-default"r>
			<div class="container">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class=""><a href="#">HOME</a></li>
						<li><a href="#">BLOG</a></li>
						<li><a href="#">NOTE</a></li>
						<li><a href="#">PIECE</a></li>
						<li><a href="#">LIFE</a></li>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="left">
				<div class="leftbox">
					<h2><a href="">first article</a></h2> 
					{{content}}
				</div>
			</div>
			<div class="right"> right now!</div>
			<div class="blank"></div>
		</div>	
		<div class="footer">footer</div>
　　　</div>　</body>
　　</html>
